<div class="row rand">
  <div class="col-3">
    <img class="width100" src="../../assets/donald.gif" />
    <img class="width100" src="../../assets/boss.gif" />
  </div>
  <div class="col-6 text-center">
    <div class="row text">
      <div class="col-12">
        <h1>Proficiat, {{data.voornaam}}!</h1>
      </div>
      <div class="col-12 text-center">
        Jij kon deze escape room in volgende tijd oplossen:
      </div>
      <div class="col-12 text-center tijd">
        <h2>{{berekenTijd()}}</h2>
      </div>
      <div class="col-12">
        <p>Dit spel werd gemaakt door Scouts Ardu (<a href="http://www.ardu.be/" target="_blank">www.ardu.be</a>).
          Hopelijk vond je het tof. Feedback kan gegeven worden op
          <a href="mailto:lucasvermeulen@gmail.com" target="_blank">lucasvermeulen@gmail.com</a>.
        </p>
        <p>Als Scouts groep zijn de financiele gevolgen van de covid-19 crisis erg duidelijk.
          Indien je dit spel demax vond twijfel dan niet en geef een financieel duwtje in de rug! </p>
      </div>
      <div class="col-12">
        <iframe class="facebook"
          src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fardu-hacker-game.netlify.app%2F&layout=button&size=large&appId=1158931000967447&width=77&height=28"
          width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
        <a class="doneren" target="_blank"
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=lucasvermeulen%40gmail.com&item_name=Scouts+Ardu&currency_code=EUR&source=url">Doneren!</a>
      </div>
      <div class="col-12">
        <img src="../../assets/qr.png" class="qr" />
      </div>
    </div>
  </div>
  <div class="col-3">
    <img class="width100" src="../../assets/bank.gif" />
    <img class="width100" src="../../assets/money.gif" />
  </div>

</div>
