<div class="row rand">
  <div class="col-3">
    <img class="width100" src="../../assets/donald.gif" />
  </div>
  <div class="col-6 text-center">
    <div class="row text">
      <div class="col-12">
        <h1>Proficiat, {{dataService.voornaam}}!</h1>
      </div>
      <div class="col-12 text-center">
        Jij kon deze escape room in volgende tijd oplossen:
      </div>
      <div class="col-12 text-center">
        <h2>{{berekenTijd()}}</h2>
      </div>
      <div class="col-12">
        <p>Dit spel werd gemaakt door Scouts Ardu (<a href="www.ardu.be" target="_blank">www.ardu.be</a>). Hopelijk vond
          je het plezant en heb je ervan genoten! Feedback mag altijd gestuurd worden naar
          <a href="mailto:lucasvermeulen@gmail.com" target="_blank">lucasvermeulen@gmail.com</a>.
        </p>
        <p>Als scoutsgroep zijn de financiële gevolgen van de Covid-19 crisis helaas erg duidelijk.
          Als je dit spel de max vond, twijfel dan niet en geef een financieel duwtje in de rug! Dat wordt zeer zeker geapprecieerd! </p>
      </div>
      <div class="col-12">
        <iframe
          src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fardu-hacker-game.netlify.app%2F&layout=button&size=large&appId=1158931000967447&width=77&height=28"
          width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowTransparency="true" allow="encrypted-media"></iframe>
        <a class="doneren" target="_blank"
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=lucasvermeulen%40gmail.com&item_name=Scouts+Ardu&currency_code=EUR&source=url">Doneren!</a>
      </div>
      <div class="col-12">
        <img src="../../assets/qr.png" class="qr" />
      </div>
    </div>
  </div>
  <div class="col-3">
    <img class="width100" src="../../assets/bank.gif" />
    <img class="width100" src="../../assets/money.gif" />
    <!--<iframe src="https://giphy.com/embed/12Eo7WogCAoj84" class="width100" width="480" height="361" frameBorder="0"
      class="giphy-embed" allowFullScreen></iframe>-->
  </div>

</div>
