$green: #20C20E;

.width100 {
  width: 100% !important;
}

img {
  margin-bottom: 15px;
}

.tijd {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rand {
  border: 10px double $green !important;
  height: calc(100% - 40px);
  min-height: calc(100vh - 40px);
  margin: 20px 10px !important;
}

a {
  color: $green !important;
  text-decoration: underline;
}

.text {
  margin-top: 120px;
}

.qr {
  margin-top: 15px;
  width: 22%;
  //max-width: 30%;
}

.doneren {
  color: $green !important;
  border: 1px solid $green !important;
  padding: 10px 20px !important;
  margin-left: 20px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    background-color: $green;
    color: black !important;
  }
}
