<div *ngFor="let item of dataService.uitvoerData.slice().reverse()">
  <p *ngIf="item.type == 'normaal'" class="uitvoer-met-white-space"><span class="uitvoerder">{{item.uitvoerder}}<span
        *ngIf="item.uitvoerder != ''">></span></span> {{item.tekst}}</p>
  <p *ngIf="item.type == 'error'" class="uitvoer-met-white-space"><span class="uitvoerder">{{item.uitvoerder}}<span
        *ngIf="item.uitvoerder != ''">></span></span><span class="error"> {{item.tekst}}</span></p>
  <pre *ngIf="item.type == 'art'">{{item.uitvoerder}}<span *ngIf="item.uitvoerder != ''">> </span>{{item.tekst}}</pre>
</div>
