$green: #20C20E;

.uitvoer-met-white-space {
  white-space: pre-line;
}

p, pre {
  font-size: 16px;
  margin-left: 15px;
  color: $green !important;
}

.uitvoerder {
  color: white;
  background-color: green;
}

.error {
  color: red !important;
}
