
<form [formGroup]="inputForm" autocomplete="off">
  <div class="row">
    <div class="col-8">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">></div>
        </div>
        <input #input autofocus onblur="this.focus()" (keydown.enter)="enter()" (keydown.arrowdown)="down()"
          (keydown.arrowup)="up()" formControlName="input" type="text" id="input" class="form-control" />
      </div>
    </div>
    <div class="col-4 text-right">Je bent nu hier: <span class="uitvoerder">{{getLocatie()}}</span></div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-uitvoer></app-uitvoer>
    </div>
  </div>
</form>
