body {
  background-color: black !important;
  color: green !important;
  font-family: monaco, monospace;
}

input {
  border: 0px;
  width: 100%;
  background-color: black;
  color: white !important;
  font-size: 16px;
  text-decoration: bold;
  font-family: monaco, monospace;
  caret-color: green;

  &:focus {
    outline: none;
  }
}
